 @tailwind base;
@tailwind components;
@tailwind utilities;


p{
  @apply text-justify text-base mt-2
}

.sub-heading{
  @apply text-neutral-600 max-w-lg mx-auto my-2 text-[1.05rem]  text-justify leading-[23px]
}




/* // add the code bellow */
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@keyframes bounce {
    0%, 100% {
      transform:translateY(-5%) ;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(1%);
      /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
    }
  }


  .life_style_card:hover,.icon_shadow:hover{
    box-shadow: 1px 0px 9px 1px #45ff458f, 0px 0px 12px 5px #146714cf;
    transition: all 0.3s ease;
  }
 /* {
    box-shadow: 1px 0px 9px 1px #45ff458f, 0px 0px 12px 5px #146714cf;
    transition: all 0.3s ease;
  } */
  .card_animation{
    animation: bounce 3s linear infinite;

    
}





/* dotted background  */

.dot-mask {
  position: relative;
  inset: 0;
  min-height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  /* -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  ); */
}




.text-gradient {
  color: #009654; 
  background-image: linear-gradient(45deg, #009654 48%, #00B06E 30%, #00BD7B 76%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
 }