 @tailwind base;
 * {
  scrollbar-width: thin;
  
  scrollbar-color: green black;
}
@tailwind components;
@tailwind utilities;




p, h4{
  @apply text-justify text-base mt-2 px-3
}

img{
  pointer-events: none;
}
.sub-heading{
  @apply text-neutral-600  max-w-4xl mx-auto my-2 text-[1.05rem]  text-justify leading-[23px]
}

.sub-heading, .nfc-text{
  word-spacing: 1px;
  
}



/* // add the code bellow */
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@keyframes bounce {
    0%, 100% {
      transform:translateY(-5%) ;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(1%);
      /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
    }
  }


  .life_style_card:hover,.icon_shadow:hover,.service_card:hover{
    border-radius: 8px;
    box-shadow: 1px 0px 9px 1px #45ff458f, 0px 0px 12px 5px #146714cf;
    transition: all 0.3s ease;
  }
 
  .shadow:hover{
    border-radius: 8px;
    box-shadow: 1px 0px 9px 1px #45ff458f, 0px 0px 12px 5px #146714cf;
    transition: all 0.3s ease;
  }
  .checkout{
    box-shadow: 1px 0px 9px 1px #45ff458f, 0px 0px 12px 5px #146714cf;
    transition: all 0.3s ease;
  }

 


  .card_animation{
    animation: bounce 3s linear infinite;

    
}








/* dotted background  */

.dot-mask {
  position: relative;
  inset: 0;
  min-height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  /* -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  ); */
}




.text-gradient {
  color: #009654; 
  background-image: linear-gradient(45deg, #009654 48%, #00B06E 30%, #00BD7B 76%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
 }








/* Timeline.css */
.chrono .chrono-timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the title and content */
}

.chrono .chrono-timeline-item-title {
  margin-top: 8px; /* Space between number and title */
}

.chrono .chrono-timeline-item-content {
  margin-top: 4px; /* Space between title and content */
  text-align: center; /* Center align content */
}









/* ___________ */




 /* Include the scroll bar styles here */
 html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 35px;
}


.scrollable {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hides scrollbar until hovered */
}


@supports (-webkit-touch-callout: none) {
  .text {
    direction: ltr;
    unicode-bidi: normal;
  }
}
